.header{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(210, 236, 161);
    text-align: center;
}
.header img{
    height: 80px;

}
nav{background-color: black;padding: 5px;}
nav a{
    font-size: 20px;
    margin: 0px 10px;
    color:white;
}
a:hover{background-color: mistyrose;color:black}
.header input{width: 80%;padding: 10px;text-align: center;margin: 0 auto;background-color: blanchedalmond;
 font-size: 18px;
}


/* .header img{
    height: 80px;
}
.header{
    text-align: center;
}
 .header nav{
  background-color: black;
  line-height: 40px;
}
nav a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
    padding: 5px;
     color: white;
}
nav a:hover{background-color: white;color:black} */